/* 노멀라이징 */
*{
    margin: 0 ;
    padding: 0 ;
  }
  ul , li {
    list-style: none ;
  }
  a{
    color: inherit ;
    text-decoration: none ;
  }
/* 라이브러리 */
.cell{
    float: left ;
}
.cell-r{
    float: right ;
}
.row::after{
    clear: both;
    content: "";
    display: block;
}
.con{
    margin: 0 auto;
}
#fp-nav ul li a span{
    background: #eeeeee ;
}


/*시작*/
/*nav-wrap*/
.con-wrap{
    margin: 0 auto ;
}
.nav-wrap{
    position: fixed ;
    z-index: 9 ;
    width: 1920px ;
    top: 40px ;
    left:  0 ;
    
    margin: 0 auto;
}
.nav-wrap ul{
    position: relative;
}
.nav-wrap ul li:nth-child(1) a{
    font-size: 20px ;
    padding-left: 100px ;
    padding-right: 100px ;
    font-family: 'GmarketSansMedium';
    color: #eeeeee ;
} 
.nav-wrap ul li a .top01{
    color: #eeeeee ;
    font-family: 'GmarketSansMedium';
    font-size: 20px ;
    right: 100px ;
    position: absolute ;
}
.nav-wrap ul li a .top02{
    color: #eeeeee ;
    font-family: 'GmarketSansMedium';
    font-size: 16px ;
    right: 100px  ;
    position: absolute ;
    top: 30px ;
    opacity: 0% ;
}
.nav-wrap ul li a:hover .top02{
    opacity: 100% ;
}

/*wrap*/
.wrap{
    width: 1920px ;
    height: 1080px ;
}

.section01{
    background-image: url(../img/seabg.png);
    background-position: center ;
    background-repeat: no-repeat ;
    background-size: cover ;
    position: relative;
}
.section01 .gif-txt-wrap{
    width: 1600px ;
    height: 800px ;
    /*background-color: aqua;*/
    margin: 0 auto ;
    
}
.section01 .gif-txt-wrap  .gif{
    width: 800px ;
    height: 800px ;
    background-image: url(../img/s1-txt-g);
}
.section01 .gif-txt-wrap  .txt{
    width: 800px;
    height: 800px;
}
.section01 .PSD p{
    bottom: 60px ;
    left: 100px ;
    font-size: 16px ;
    color: #eeeeee ;
    position: absolute ;
}
.section01 .view p{
    bottom: 60px ;
    left: 50% ;
    font-size: 16px ;
    color: #eeeeee ;
    position: absolute ;
    transform: translateX(-50%);
}
.section01 .c2022 p{
    bottom: 60px ;
    font-size: 16px ;
    color: #eeeeee ;
    position: absolute ;
    right: 100px;
}
.section01 .arrow{
    width: 20px ;
    height: 13px ;
    background-image: url(../img/arrow.png) ;
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center ;
    position: absolute ;
    bottom: 40px ;
    left: 50% ;
    transform: translateX(-50%);
}
.section01 .animation{
    animation-name: arrow ;
    animation-duration: 1.5s ;
    animation-iteration-count: infinite ;
  }
  
  @keyframes arrow{
    
    0%{
        bottom: 40px ;
    }
    
    100%{
        bottom: 20px ;
    }
    
  } 

.section02{
    background-image: url(../img/02-bg.png);
    background-position: center ;
    background-repeat: no-repeat ;
    background-size: cover ;
    position: relative ;
}
.section02 .center-txt{
    position: absolute ;
    left: 50% ; 
    top: 50% ;
    transform: translate(-50%, -50%);
    font-family: 'GmarketSansBold';
    font-size: 245px ;
    color: #eeeeee ;
}

.section02 .top-left-txt{
    position: absolute ;
    left: 100px ; 
    top: 120px ;
}
.section02 .top-left-txt p{
    font-weight: lighter ;
    color: #eeeeee ;
    font-size: 14px ;
    font-family: 'GmarketSansLight';
}
.section02 .top-right-txt{
    position: absolute ;
    left: 500px ; 
    top: 120px ;
}
.section02 .top-right-txt p{
    font-weight: lighter ;
    color: #eeeeee ;
    font-size: 14px ;
    font-family: 'GmarketSansLight';
}
.section02 .box{
    width: 1920px ;
    height: 1080px ;
    background-image: url(../img/s2-bg-aboutme03.png);
    position: absolute ;
    left: 50% ;
    top: 50% ;
    transform: translate(-50%, -50%);
    background-position: center ;
    background-repeat: no-repeat ;
    background-size: cover ;
}
.animation-box{
    animation-name: ani-box ;
    animation-duration: 30s ;
    animation-iteration-count: infinite ;
}
@keyframes ani-box{
    0%{
        opacity: 0% ;
    }
    30%{
        opacity: 100% ;
    }
    100%{
        opacity: 100% ;
    }

}

.wrap .active fullpage-wrapper .box {
    opacity: 100% ;
}

.section02 .top-border {
    width: 1720px ;
    height: 20px ;
    border-bottom: 1.5px solid #eeeeee ;
    position: absolute ;
    top: 80px ;
    left: 50% ;
    transform: translateX(-50%);
}
.section02 .bottom-border {
    width: 1720px ;
    height: 20px ;
    border-top: 1.5px solid #eeeeee ;
    position: absolute ;
    bottom: 80px ;
    left: 50% ;
    transform: translateX(-50%);
}
.section02 .PSD p{
    bottom: 60px ;
    left: 100px ;
    font-size: 16px ;
    color: #eeeeee ;
    position: absolute ;
}
.section02 .view p{
    bottom: 60px ;
    left: 50% ;
    font-size: 16px ;
    color: #eeeeee ;
    position: absolute ;
    transform: translateX(-50%);
}
.section02 .c2022 p{
    bottom: 60px ;
    font-size: 16px ;
    color: #eeeeee ;
    position: absolute ;
    right: 100px;
}
.section02 .arrow{
    width: 20px ;
    height: 13px ;
    background-image: url(../img/arrow.png) ;
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center ;
    position: absolute ;
    bottom: 40px ;
    left: 50% ;
    transform: translateX(-50%);
}
.section02 .animation{
    animation-name: arrow ;
    animation-duration: 1.5s ;
    animation-iteration-count: infinite ;
}
  
@keyframes arrow{
    
    0%{
        bottom: 40px ;
    }
    
    100%{
        bottom: 20px ;
    }
}

.animation{
    animation-name: test ;
    animation-duration: 30s ;
    animation-timing-function: linear ;
    animation-iteration-count: infinite ;
}
.reverse{
    animation-direction: reverse ;
}
.animation-paused{
    animation-play-state: paused ;
}
@keyframes test {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
.section03{
    background-image: url(../img/seabg.png);
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat ;
}

.section03 .wrap{
    top: 60px ;
    width: 100% ;
    height: 840px ;
    box-sizing: border-box;
    overflow: hidden ;
    background-repeat: no-repeat ;
    background-size: cover ;
    background-position: center ;
}
.section03 .PSD p{
    bottom: 60px ;
    left: 100px ;
    font-size: 16px ;
    color: #eeeeee ;
    position: absolute ;
}
.section03 .view p{
    bottom: 60px ;
    left: 50% ;
    font-size: 16px ;
    color: #eeeeee ;
    position: absolute ;
    transform: translateX(-50%);
}
.section03 .c2022 p{
    bottom: 60px ;
    font-size: 16px ;
    color: #eeeeee ;
    position: absolute ;
    right: 100px;
}
.section03 .arrow{
    width: 20px ;
    height: 13px ;
    background-image: url(../img/arrow.png) ;
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center ;
    position: absolute ;
    bottom: 40px ;
    left: 50% ;
    transform: translateX(-50%);
}
.section03 .animation02{
    animation-name: arrow ;
    animation-duration: 1.5s ;
    animation-iteration-count: infinite ;
  }
  
  @keyframes arrow{
    
    0%{
        bottom: 40px ;
    }
    
    100%{
        bottom: 20px ;
    }
    
  }
.wrap.bg01{
    background-image: url(../img/web-mu.png);
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat ;
}
.wrap.bg02{
    background-image: url(../img/app-bg.png);
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat ;
}
.wrap.bg03{
    background-image: url(../img/event-bg.png);
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat ;
}
.wrap.bg04{
    background-image: url(../img/brand-bg.png);
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat ;
}
.section03 .wrap .img-list-wrap{
    padding-top: 30px ;
    height: 210px ;
    border-bottom: #eeeeee solid 1px ;
    box-sizing: border-box ;
}
.section03 .wrap .web-wrap{
    width: 15290px;
}
.section03 .wrap .app-wrap{
    width: 14830px;
}
.section03 .wrap .event-wrap{
    width: 12900px;
}
.section03 .wrap .brand-wrap{
    width: 15170px;
}
.section03 .wrap .img-list-wrap .web-list{
    width: 7645px;
}
.section03 .wrap .img-list-wrap .app-list{
    width: 7415px;
}
.section03 .wrap .img-list-wrap .event-list{
    width: 6450px;
}
.section03 .wrap .img-list-wrap .brand-list{
    width: 7585px;
}
.section03 .wrap .img-list-wrap .img-list .web-box{
    width: 1529px ;
}
.section03 .wrap .img-list-wrap .img-list .app-box{
    width: 1483px ;
}
.section03 .wrap .img-list-wrap .img-list .event-box{
    width: 1290px ;
} 
.section03 .wrap .img-list-wrap .img-list .brand-box{
    width: 1517px ;
} 
.section03 .wrap .img-list-wrap .img-list .img-box img{
    width: 100% ;
    display: none ;
}
.section03 .wrap .img-list-wrap .img-list .img-box .normal{
    display: block ;
}
.section03 .wrap .img-list-wrap .img-list .img-box:hover .normal{
    display: none ;
}
.section03 .wrap .img-list-wrap .img-list .img-box:hover .hover{
    display: block ;
}
.section04{
    background-image: url(../img/04-bg.png);
    background-position: center ;
    background-repeat: no-repeat ;
    background-size: cover ;
    position: relative ;
}
.section04 .contents-box{
    width: 1720px ;
    height: 841px ;
    position: absolute ;
    left: 50% ;
    top: 50% ;
    transform: translate(-50%, -50%) ;
    background-image: url(../img/04-bg-content.png);
    background-position: center ;
    background-repeat: no-repeat ;
    background-size: cover ;
}
.section04 .contents-box .detail{
    position: absolute ;
    width: 33.3% ;
    height: 50% ;
    left: 0 ;
    top: 0 ;
    border: 1px solid #eeeeee; 
    position: relative ;
}

.section04 .contents-box .sense{
    position: absolute ;
    width: 33.3% ;
    height: 50% ;
    left: 33.3% ;
    top: 0 ;
    border-top: 1px solid #eeeeee ; 
    border-bottom: 1px solid #eeeeee ; 
    
}
.section04 .contents-box .openmind{
    position: absolute ;
    width: 33.4% ;
    height: 50% ;
    right: 0 ;
    top: 0 ;
    border: 1px solid #eeeeee;
}
.section04 .contents-box .fitness{
    position: absolute ;
    width: 50% ;
    height: 50% ;
    right: 0 ;
    bottom: 0 ;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee ;
}
.section04 .contents-box .video{
    position: absolute ;
    width: 50% ;
    height: 49.7% ;
    left: 0 ;
    bottom: 0 ;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    box-sizing: border-box ;
}

.section04 .contents-box .detail:hover{
    background-image: url(../img/detail.png);
    transition: 1s ;
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat ;
}
.section04 .contents-box .sense:hover{
    background-image: url(../img/sense.png);
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat ;
    border-left: 1px solid #eeeeee ;
}
.section04 .contents-box .openmind:hover{
    background-image: url(../img/openmind.png);
    transition: 1s ;
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat ;
}
.section04 .contents-box .fitness:hover{
    background-image: url(../img/fitness.png);
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat ;
    box-sizing: border-box ;
    height: 418px ;

}

.section04 .contents-box .box01{
    width: 100px ;
    height: 100px ;
    background-image: url(../img/01navy.png);
    position: absolute ;
    left: 50% ;
    top: 50% ;
    transform: translate(-50%, -50%) ;
}

.section04 .top-border {
    width: 1720px ;
    height: 20px ;
    border-bottom: 1.5px solid #eeeeee ;
    position: absolute ;
    top: 80px ;
    left: 50% ;
    transform: translateX(-50%);
}
.section04 .bottom-border {
    width: 1720px ;
    height: 20px ;
    border-top: 1.5px solid #eeeeee ;
    position: absolute ;
    bottom: 80px ;
    left: 50% ;
    transform: translateX(-50%);
}
.section04 .PSD p{
    bottom: 60px ;
    left: 100px ;
    font-size: 16px ;
    color: #eeeeee ;
    position: absolute ;
}
.section04 .view p{
    bottom: 60px ;
    left: 50% ;
    font-size: 16px ;
    color: #eeeeee ;
    position: absolute ;
    transform: translateX(-50%);
}
.section04 .c2022 p{
    bottom: 60px ;
    font-size: 16px ;
    color: #eeeeee ;
    position: absolute ;
    right: 100px;
}
.section04 .arrow{
    width: 20px ;
    height: 13px ;
    background-image: url(../img/arrow.png) ;
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center ;
    position: absolute ;
    bottom: 40px ;
    left: 50% ;
    transform: translateX(-50%);
}
.section04 .animation02{
    animation-name: arrow ;
    animation-duration: 1.5s ;
    animation-iteration-count: infinite ;
  }
  
  @keyframes arrow{
    
    0%{
        bottom: 40px ;
    }
    
    100%{
        bottom: 20px ;
    }
}
.footer-wrap{
    background-color: black ;
    background-image: url(../img/footer-bg.png);
    background-position: center ;
    background-repeat: no-repeat ;
    background-size: cover ;  
    position: relative;  
}
.footer-wrap .contact p{
    bottom: 60px ;
    transform: translateX(-50%);
    position: absolute ;
    left: 50% ;
    font-size: 16px ;
    color: #eeeeee ;
    font-family: 'GmarketSansLight';
}
.footer-wrap .contact p b{
    color: #eeeeee ;
}


